@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
}

body {
    background: rgb(233, 173, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
   

}

button {
   margin: 15px;
}

.meal-container {
    background: aliceblue;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 1;
    
}
